<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/maps/china.js"></script>
</head>
<body>
<div id="a51907f584b74e4b9a002dff1773b9be" class="chart-container" style="width:900px; height:500px; "></div>
<script>
    var chart_a51907f584b74e4b9a002dff1773b9be = echarts.init(
        document.getElementById('a51907f584b74e4b9a002dff1773b9be'), 'white', {renderer: 'canvas'});
    var option_a51907f584b74e4b9a002dff1773b9be = {
        "animation": true,
        "animationThreshold": 2000,
        "animationDuration": 1000,
        "animationEasing": "cubicOut",
        "animationDelay": 0,
        "animationDurationUpdate": 300,
        "animationEasingUpdate": "cubicOut",
        "animationDelayUpdate": 0,
        "aria": {
            "enabled": false
        },
        "color": [
            "#5470c6",
            "#91cc75",
            "#fac858",
            "#ee6666",
            "#73c0de",
            "#3ba272",
            "#fc8452",
            "#9a60b4",
            "#ea7ccc"
        ],
        "series": [
            {
                "type": "map",
                "label": {
                    "show": false,
                    "margin": 8
                },
                "map": "china",
                "data": [
                    {
                        "name": "\u5317\u4eac\u5e02",
                        "value": 2184
                    },
                    {
                        "name": "\u5929\u6d25\u5e02",
                        "value": 1363
                    },
                    {
                        "name": "\u6cb3\u5317\u7701",
                        "value": 7420
                    },
                    {
                        "name": "\u5c71\u897f\u7701",
                        "value": 3481
                    },
                    {
                        "name": "\u5185\u8499\u53e4\u81ea\u6cbb\u533a",
                        "value": 2401
                    },
                    {
                        "name": "\u8fbd\u5b81\u7701",
                        "value": 4197
                    },
                    {
                        "name": "\u5409\u6797\u7701",
                        "value": 2348
                    },
                    {
                        "name": "\u9ed1\u9f99\u6c5f\u7701",
                        "value": 3099
                    },
                    {
                        "name": "\u4e0a\u6d77\u5e02",
                        "value": 2475
                    },
                    {
                        "name": "\u6c5f\u82cf\u7701",
                        "value": 8515
                    },
                    {
                        "name": "\u6d59\u6c5f\u7701",
                        "value": 6577
                    },
                    {
                        "name": "\u5b89\u5fbd\u7701",
                        "value": 6127
                    },
                    {
                        "name": "\u798f\u5efa\u7701",
                        "value": 4188
                    },
                    {
                        "name": "\u6c5f\u897f\u7701",
                        "value": 4528
                    },
                    {
                        "name": "\u5c71\u4e1c\u7701",
                        "value": 10163
                    },
                    {
                        "name": "\u6cb3\u5357\u7701",
                        "value": 9872
                    },
                    {
                        "name": "\u6e56\u5317\u7701",
                        "value": 5844
                    },
                    {
                        "name": "\u6e56\u5357\u7701",
                        "value": 6604
                    },
                    {
                        "name": "\u5e7f\u4e1c\u7701",
                        "value": 12657
                    },
                    {
                        "name": "\u5e7f\u897f\u58ee\u65cf\u81ea\u6cbb\u533a",
                        "value": 5047
                    },
                    {
                        "name": "\u6d77\u5357\u7701",
                        "value": 1027
                    },
                    {
                        "name": "\u91cd\u5e86\u5e02",
                        "value": 3213
                    },
                    {
                        "name": "\u56db\u5ddd\u7701",
                        "value": 8374
                    },
                    {
                        "name": "\u8d35\u5dde\u7701",
                        "value": 3856
                    },
                    {
                        "name": "\u4e91\u5357\u7701",
                        "value": 4693
                    },
                    {
                        "name": "\u897f\u85cf\u81ea\u6cbb\u533a",
                        "value": 364
                    },
                    {
                        "name": "\u9655\u897f\u7701",
                        "value": 3956
                    },
                    {
                        "name": "\u7518\u8083\u7701",
                        "value": 2492
                    },
                    {
                        "name": "\u9752\u6d77\u7701",
                        "value": 595
                    },
                    {
                        "name": "\u5b81\u590f\u56de\u65cf\u81ea\u6cbb\u533a",
                        "value": 728
                    },
                    {
                        "name": "\u65b0\u7586\u7ef4\u543e\u5c14\u81ea\u6cbb\u533a",
                        "value": 2587
                    },
                    {
                        "name": "\u53f0\u6e7e\u7701",
                        "value": 2326
                    }
                ],
                "roam": true,
                "aspectScale": 0.75,
                "nameProperty": "name",
                "selectedMode": false,
                "zoom": 1,
                "zlevel": 0,
                "z": 2,
                "seriesLayoutBy": "column",
                "datasetIndex": 0,
                "mapValueCalculation": "sum",
                "showLegendSymbol": false,
                "tooltip": {
                    "show": true,
                    "trigger": "item",
                    "triggerOn": "mousemove|click",
                    "axisPointer": {
                        "type": "line"
                    },
                    "showContent": true,
                    "alwaysShowContent": false,
                    "showDelay": 0,
                    "hideDelay": 100,
                    "enterable": false,
                    "confine": false,
                    "appendToBody": false,
                    "transitionDuration": 0.4,
                    "formatter": "{b}:{c}\u4e07\u4eba",
                    "textStyle": {
                        "fontSize": 14
                    },
                    "borderWidth": 0,
                    "padding": 5,
                    "order": "seriesAsc"
                },
                "emphasis": {},
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            }
        ],
        "legend": [
            {
                "data": [
                    ""
                ],
                "selected": {},
                "show": true,
                "padding": 5,
                "itemGap": 10,
                "itemWidth": 25,
                "itemHeight": 14,
                "backgroundColor": "transparent",
                "borderColor": "#ccc",
                "borderRadius": 0,
                "pageButtonItemGap": 5,
                "pageButtonPosition": "end",
                "pageFormatter": "{current}/{total}",
                "pageIconColor": "#2f4554",
                "pageIconInactiveColor": "#aaa",
                "pageIconSize": 15,
                "animationDurationUpdate": 800,
                "selector": false,
                "selectorPosition": "auto",
                "selectorItemGap": 7,
                "selectorButtonGap": 10
            }
        ],
        "tooltip": {
            "show": true,
            "trigger": "item",
            "triggerOn": "mousemove|click",
            "axisPointer": {
                "type": "line"
            },
            "showContent": true,
            "alwaysShowContent": false,
            "showDelay": 0,
            "hideDelay": 100,
            "enterable": false,
            "confine": false,
            "appendToBody": false,
            "transitionDuration": 0.4,
            "textStyle": {
                "fontSize": 14
            },
            "borderWidth": 0,
            "padding": 5,
            "order": "seriesAsc"
        },
        "title": [
            {
                "show": true,
                "text": "\u4e2d\u56fd2022\u5e74\u4eba\u53e3\u6570\u91cf",
                "target": "blank",
                "subtext": "\u5e74\u672b\u5e38\u9a7b\u4eba\u53e3 \u5355\u4f4d\uff1a\u4e07",
                "subtarget": "blank",
                "left": "48%",
                "padding": 5,
                "itemGap": 10,
                "textAlign": "center",
                "textVerticalAlign": "auto",
                "triggerEvent": false
            }
        ],
        "visualMap": {
            "show": false,
            "type": "piecewise",
            "min": 0,
            "max": 13000,
            "inRange": {
                "color": [
                    "#50a3ba",
                    "#eac763",
                    "#d94e5d"
                ]
            },
            "calculable": true,
            "inverse": false,
            "splitNumber": 5,
            "hoverLink": true,
            "orient": "vertical",
            "padding": 5,
            "showLabel": true,
            "itemWidth": 20,
            "itemHeight": 14,
            "borderWidth": 0
        }
    };
    chart_a51907f584b74e4b9a002dff1773b9be.setOption(option_a51907f584b74e4b9a002dff1773b9be);

    chart_a51907f584b74e4b9a002dff1773b9be.on('click', function (param) {
        var selected = param.name;
        console.log(selected)
        if (selected) {
            switch (selected) {
                case '北京市':
                    location.href = "{{ url_for('static',filename = 'city/北京市.html') }}";
                    break;
                case '上海市':
                    location.href = "{{ url_for('static',filename = 'city/上海市.html') }}";
                    break;
                case '天津市':
                    location.href = "{{ url_for('static',filename = 'city/天津市.html') }}";
                    break;
                case '四川省':
                    location.href = "{{ url_for('static',filename = 'city/四川省.html') }}";
                    break;
                case '安徽省':
                    location.href = "{{ url_for('static',filename = 'city/安徽省.html') }}";
                    break;
                case '山东省':
                    location.href = "{{ url_for('static',filename = 'city/山东省.html') }}";
                    break;
                case '江苏省':
                    location.href = "{{ url_for('static',filename = 'city/江苏省.html') }}";
                    break;
                case '江西省':
                    location.href = "{{ url_for('static',filename = 'city/江西省.html') }}";
                    break;
                case '河北省':
                    location.href = "{{ url_for('static',filename = 'city/河北省.html') }}";
                    break;
                case '浙江省':
                    location.href = "{{ url_for('static',filename = 'city/浙江省.html') }}";
                    break;
                case '海南省':
                    location.href = "{{ url_for('static',filename = 'city/海南省.html') }}";
                    break;
                case '湖北省':
                    location.href = "{{ url_for('static',filename = 'city/湖北省.html') }}";
                    break;
                case '湖南省':
                    location.href = "{{ url_for('static',filename = 'city/湖南省.html') }}";
                    break;
                case '广东省':
                    location.href = "{{ url_for('static',filename = 'city/广东省.html') }}";
                    break;
                case '福建省':
                    location.href = "{{ url_for('static',filename = 'city/福建省.html') }}";
                    break;
                case '甘肃省':
                    location.href = "{{ url_for('static',filename = 'city/甘肃省.html') }}";
                    break;
                case '广西壮族自治区':
                    location.href = "{{ url_for('static',filename = 'city/广西壮族自治区.html') }}";
                    break;
                case '贵州省':
                    location.href = "{{ url_for('static',filename = 'city/贵州省.html') }}";
                    break;
                case '河南省':
                    location.href = "{{ url_for('static',filename = 'city/河南省.html') }}";
                    break;
                case '黑龙江省':
                    location.href = "{{ url_for('static',filename = 'city/黑龙江省.html') }}";
                    break;
                case '内蒙古自治区':
                    location.href = "{{ url_for('static',filename = 'city/内蒙古自治区.html') }}";
                    break;
                case '吉林省':
                    location.href = "{{ url_for('static',filename = 'city/吉林省.html') }}";
                    break;
                case '辽宁省':
                    location.href = "{{ url_for('static',filename = 'city/辽宁省.html') }}";
                    break;
                case '宁夏回族自治区':
                    location.href = "{{ url_for('static',filename = 'city/宁夏回族自治区.html') }}";
                    break;
                case '青海省':
                    location.href = "{{ url_for('static',filename = 'city/青海省.html') }}";
                    break;
                case '山西省':
                    location.href = "{{ url_for('static',filename = 'city/山西省.html') }}";
                    break;
                case '陕西省':
                    location.href = "{{ url_for('static',filename = 'city/陕西省.html') }}";
                    break;
                case '台湾省':
                    location.href = "{{ url_for('static',filename = 'city/台湾省.html') }}";
                    break;
                case '西藏自治区':
                    location.href = "{{ url_for('static',filename = 'city/西藏自治区.html') }}";
                    break;
                case '新疆维吾尔自治区':
                    location.href = "{{ url_for('static',filename = 'city/新疆维吾尔自治区.html') }}";
                    break;
                case '云南省':
                    location.href = "{{ url_for('static',filename = 'city/云南省.html') }}";
                    break;
                case '重庆市':
                    location.href = "{{ url_for('static',filename = 'city/重庆市.html') }}";
                    break;
                default:
                    break;
            }

        }
    });
</script>
</body>
</html>
