{% extends 'LoginBase.html' %}

{% block header %}
    <title>Login</title>
{% endblock %}

{% block body %}
    <body class="text-center">
    <main class="form-signin w-100 m-auto">
        <form method="post">
            <img class="mb-4" src="{{ url_for('static',filename='assets/brand/bootstrap-logo.svg') }}" alt="" width="72"
                 height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div class="form-floating">
                <input type="email" class="form-control" name="email" placeholder="Email" id="email">
                <label for="email">Email</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" name="username" placeholder="Username">
                <label for="username">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" name="password" placeholder="Password">
                <label for="password">Password</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
        </form>
    </main>
{% endblock %}

